.actors {
    display: grid;
}

.body {
    background-color: aqua;
}
h1 { color: aqua;
    text-align: center;
p {
    <font-family:times-new-roman</font>
    <font-size:large</font>
}

p {
    font-family: "arial";
    font-size: larger;
}
